<div class="container">

  <h4>admin　会員一覧</h4>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">会員ID</th>
        <th scope="col">氏名</th>
        <th scope="col">メールアドレス</th>
        <th scope="col">ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
      <tr>
        <th scope="row"><%= customer.id %></th>
        <td>
          <%= link_to admin_customer_path(customer) do %>
            <%= customer.full_name %>
          <% end %>
          </td>
        <td><%= customer.email %></td>
        <td>
          <% if customer.is_deleted %>
            退会
          <% elsif %>
          　有効
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>