<div class="container">

  <h4>admin 注文履歴一覧</h4>
  <table>
    <thead>
      <tr>
        <th scope="col">購入日時</th>
        <th scope="col">購入者</th>
        <th scope="col">注文個数</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @homes.each do |home| %>
        <td></td>
        <% end 
      </tr>
    </tbody>
  </table>
</div>