<div class="container">
  <h4>ショッピングカート</h4>
  <div class="row">
    <table>
      <thead>
        <tr>
          <th scope="col">商品名</th>
          <th scope="col">単価（税込）</th>
          <th scope="col">数量</th>
          <th scope="col">小計</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="row">
  </div>
  
  <div class="row">
  </div>
</div>